:root{
    --color-main: #F0E8C2;
    --color-background: #573824;

}

body{
    background-color: var(--color-background);
    background-image: url(../img/bg-image-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    line-height: 150%;
}


#page{
    background-color: var(--color-main);
    box-sizing: border-box;
    font-family: 'Alice';
    color: #573A37;
    font-weight: lighter;
    margin: 48px auto;
    width: 800px;
    max-height: 1536px;
    padding: 24px;
    border-radius: 16px;
}

h1, h2{
    color: #2b1b1a;
}

#page h1{
    line-height: 140%;
    font-size: 40px;
}

#page h2{
    font-size: 24px;
}